# Ignore Python files
backend/__pycache__/
backend/venv/
backend/.env

# Ignore React dependencies
frontend/node_modules/
frontend/.env
frontend/.next


.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local